.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  font-family: Helvetica;
}

table {
  border: 0px solid transparent;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid transparent;
  text-align: left;
  padding: 12px;
  font-size: 25px;
  
}

th {
  background-color: rgb(112, 189, 112);
  
}

td {
  background-color: white;
  
}

form {
  display: flex;
  gap: 10px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button.edit {
  width: 120px;
}
button.delete {
  width: 120px;
}
